<div class="container">
    <div class="page-header app-header">
        <h1>Jay Fincher -- <small>Detroit Labs Sample App</small></h1>
    </div>
    <div class="row">
        <div class="col-md-8">
            <ul class="nav nav-tabs">
                <li role="presentation"><a [routerLink]="['/home']">Home</a></li>
                <li role="presentation"><a [routerLink]="['/current']">Current Weather</a></li>
                <li role="presentation"><a [routerLink]="['/forecast']">5-Day Forecast</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <form #searchZip="ngForm" (ngSubmit)="onSubmit(searchZip)">
                <input ngModel type="number" placeholder="Enter your zip" name="zip">
                <button  type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>
    </div>
</div>
<div class="container">
    <router-outlet></router-outlet>
</div>