<div class="jumbotron" >
    <div class="row">
        <div class="col-md-9">
        </div>
        <form (ngSubmit)="getForecast(zip)">
            <div class="col-md-3">
                <input ngModel (input)='zip=$event.target.value' type="number" placeholder="Enter your zip" name="zip">
                <button type="button" (click)="getForecast(zip)"  class="btn btn-primary" [routerLink]="['/current']">Search</button>
            </div>
        </form>
        <div *ngIf="!isLoading.value" class="row">
            <h1> {{ weather.city.name }} </h1>
            <div class="row" *ngFor="let data of weather.list">
                <div class="media">
                    <ul class="media-list">
                        <li class="media">
                            <div class="media-left">
                                <img class="media-object" src="http://openweathermap.org/img/w/{{ data.weather[0].icon }}.png" alt="No Image Available">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">{{ data.dt_txt | date:'short' }}</h4>
                                <h4>{{ data.weather[0].description }} -- {{ data.main.temp | number:'1.0-0'}}&deg;</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    <div *ngIf="isLoading.value">
        <h1>Enter a Zip Code</h1>
    </div>
</div>
