<div class="jumbotron" >
    <div class="row">
        <div class="col-md-9">
        </div>
        <form (ngSubmit)="getWeather(zip)">
            <div class="col-md-3">
                <input ngModel (input)='zip=$event.target.value' type="number" placeholder="Enter your zip" name="zip">
                <button type="button" (click)="getWeather(zip)"  class="btn btn-primary" [routerLink]="['/current']">Search</button>
            </div>
        </form>
    </div>
    <div *ngIf="!isLoading.value" class="row">
        <div class="media">
            <div class="media-left">
                <img class="media-object" src="http://openweathermap.org/img/w/{{weather.weather[0].icon}}.png" alt="No Image Available">       
            </div>
            <div class="media-body">
                <h1 class="media-heading"> {{ weather.name }} <small>{{ weather.weather[0].description }}</small> </h1>
                <h4>Current: {{ weather.main.temp | number:'1.0-0'}}&deg;</h4>
                <h4>High: {{ weather.main.temp_max | number:'1.0-0'}}&deg; | Low: {{ weather.main.temp_min | number:'1.0-0'}}&deg;</h4>
            </div>
        </div>
    </div>
    <div *ngIf="isLoading.value">
        <h1>Enter a Zip Code</h1>
    </div>
</div>
