<!-- <div class="jumbotron" >
    <h1>Current Weather in <small> {{weatherData.name}} </small></h1>
    <div class="row">
        <span>
            <h2>The conditions are: {{weatherData.weather[0].main}}</h2>
        </span>
        <span>
            <h2>Current Temperature: {{weather.main.temp | number:'1.0-0'}}</h2>
            <h2>High: {{ weatherData.main.temp_max | number:'1.0-0'}}</h2>
            <h2>Low: {{ weatherData.main.temp_min | number:'1.0-0'}}</h2>
        </span>
    </div>
</div> -->
<h1>Current Weather here</h1>